h1{
font-family: cursive;
position: central;
}

header{
    background-color: rgb(64, 255, 0);
    height: 20vh;
    ;
}

main{
    background-color: rgb(0, 216, 255);
    height: 70vh;
    min-height: 30pt;
}
button{
    width: 30vw;
    min-width: 100pt;
    height:30vh;
    min-height: 30pt;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background-color: rgb(255, 255, 0);
    height: 10vh;
}

section{
    background-color: blueviolet;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 800px) {
    section{
        flex-direction: column;
    }
}